<!-- Footer
    ================================================= -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-wrapper">
        <div class="col-md-3 col-sm-3">
          <a href=""><img src="../assets/images/logo-black.png" alt="" class="footer-logo" /></a>
          <ul class="list-inline social-icons">
            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
            <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3">
          <h6>Contact Us</h6>
          <ul class="contact">
            <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
            <li><i class="icon ion-ios-email-outline"></i>info@group4.com</li>
            <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>copyright @Group4 2021. All rights reserved</p>
  </div>
</footer>

  