<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
      <div class="timeline-cover">

        <!--Timeline Menu for Large Screens-->
        <div class="timeline-nav-bar hidden-sm hidden-xs">
          <div class="row">
            <div class="col-md-3">
              <div class="profile-info">
                <img src="../../assets/images/users/user-1.jpg" alt="" class="img-responsive profile-photo" />
                <h3>Sarah Cruiz</h3>
                <p class="text-muted">Creative Director</p>
              </div>
            </div>
            <div class="col-md-9">
              <ul class="list-inline profile-menu">
                <li><a routerLink="tcontent">Timeline</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="album" class="active">Album</a></li>
                <li><a routerLink="tfriends">Friends</a></li>
              </ul>
              <ul class="follow-me list-inline">
                <li>1,299 people following her</li>
                <li><button class="btn-primary">Add Friend</button></li>
              </ul>
            </div>
          </div>
        </div><!--Timeline Menu for Large Screens End-->

        <!--Timeline Menu for Small Screens-->
        <div class="navbar-mobile hidden-lg hidden-md">
          <div class="profile-info">
            <img src="../../assets/images/users/user-1.jpg" alt="" class="img-responsive profile-photo" />
            <h4>Sarah Cruiz</h4>
            <p class="text-muted">Creative Director</p>
          </div>
          <div class="mobile-menu">
            <ul class="list-inline">
              <li><a routerLink="tcontent">Timeline</a></li>
              <li><a routerLink="about">About</a></li>
              <li><a routerLink="album" class="active">Album</a></li>
              <li><a routerLink="tfriends">Friends</a></li>
            </ul>
            <button class="btn-primary">Add Friend</button>
          </div>
        </div><!--Timeline Menu for Small Screens End-->

      </div>
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3"></div>
          <router-outlet></router-outlet>
          <div class="col-md-2 static">
            <div id="sticky-sidebar">
              <h4 class="grey">Sarah's activity</h4>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                  <p class="text-muted">5 mins ago</p>
                </div>
              </div>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                  <p class="text-muted">an hour ago</p>
                </div>
              </div>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                  <p class="text-muted">4 hours ago</p>
                </div>
              </div>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                  <p class="text-muted">a day ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>