<app-banner></app-banner>
<!-- Features Section
    ================================================= -->
    <section id="features">
        <div class="container wrapper">
            <h1 class="section-title slideDown">social herd</h1>
            <div class="row slideUp">
                <div class="feature-item col-md-2 col-sm-6 col-xs-6 col-md-offset-2">
                    <div class="feature-icon"><i class="icon ion-person-add"></i></div>
                    <h3>Make Friends</h3>
                </div>
                <div class="feature-item col-md-2 col-sm-6 col-xs-6">
                    <div class="feature-icon"><i class="icon ion-images"></i></div>
                    <h3>Publish Posts</h3>
                </div>
                <div class="feature-item col-md-2 col-sm-6 col-xs-6">
                    <div class="feature-icon"><i class="icon ion-chatbox-working"></i></div>
                    <h3>Private Chats</h3>
                </div>
                <div class="feature-item col-md-2 col-sm-6 col-xs-6">
                    <div class="feature-icon"><i class="icon ion-compose"></i></div>
                    <h3>Create Polls</h3>
                </div>
            </div>
            <h2 class="sub-title">find awesome people like you</h2>
            <div id="incremental-counter" data-value="101242"></div>
            <p>People Already Signed Up</p>
            <img src="../../assets/images/face-map.png" alt="" class="img-responsive face-map slideUp hidden-sm hidden-xs" />
        </div>

    </section>

<!-- Download Section
================================================= -->
    <section id="app-download">
        <div class="container wrapper">
            <h1 class="section-title slideDown">download</h1>
            <ul class="app-btn list-inline slideUp">
                <li><button class="btn-secondary"><img src="../../assets/images/app-store.png" alt="App Store" /></button></li>
                <li><button class="btn-secondary"><img src="../../assets/images/google-play.png" alt="Google Play" /></button></li>
            </ul>
            <h2 class="sub-title">stay connected anytime, anywhere</h2>
            <img src="../../assets/images/iPhone.png" alt="iPhone" class="img-responsive" />
        </div>
    </section>

<!-- Image Divider
================================================= -->
<div class="img-divider hidden-sm hidden-xs"></div>

<!-- Facts Section
================================================= -->
    <section id="site-facts">
        <div class="container wrapper">
            <div class="circle">
                <ul class="facts-list">
                    <li>
                        <div class="fact-icon"><i class="icon ion-ios-people-outline"></i></div>
                        <h3 class="text-white">1,01,242</h3>
                        <p>People registered</p>
                    </li>
                    <li>
                        <div class="fact-icon"><i class="icon ion-images"></i></div>
                        <h3 class="text-white">21,01,242</h3>
                        <p>Posts published</p>
                    </li>
                    <li>
                        <div class="fact-icon"><i class="icon ion-checkmark-round"></i></div>
                        <h3 class="text-white">41,242</h3>
                        <p>People online</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>